@import 
  "compass/css3/inline-block",
  "compass/css3/box-sizing",
  "compass/css3/border-radius";

body {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
}

h1 {
  margin: 0;  
}

.topbar {
  width: 100%;
  height: 50px;
  background: #383838 image-url('opacity.png');

  .logo {
    @include inline-block;
    float: left;
    width: 450px;
    height: 100%;
  }
  .logo-name {
    // #FFEC8B
    color: #BFEFFF;
    text-decoration: none;
    font-family: 'Lobster';
    font-style: normal;
    font-size: 30px;
    display: inline-block;
    padding: 4px 0 0 10px;
    &:hover {
      color: #FFEC8B;
    }
  }
  .logo-slogan {
    color: #fff;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    display: inline-block;
  }
}
.navbar {
  @include inline-block;
  float: right;
  width: 400px;
}
.main-menu {
  list-style: none;
  text-indent: -99999px;
  .item {
    display: inline;
  }
  .nav {
    color: #fff;
    text-decoration: none;
  }
}

.daily-offer {
  float: right;
  background-color: #FF1493;
  color: #fff;
  font-family: 'Lobster';
  font-style: normal;
  margin: 0;

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    letter-spacing: 0.02em;
    &:hover {
      background-color: #00BFFF;
    }
  }
}

.slider {
  width: 100%;
  height: 500px;
  background: image-url('cover.jpg') no-repeat;
  border-bottom: 2px solid #EDEDED;
}
.search {
  float: left;
  width: 25%;
  height: 100%;

  .input-search {
    @include box-sizing(border-box);
    border: 2px solid #ECECEC;
    background-color: #ECECEC;
    padding: 13px 10px;
    outline: none;
    float: left;
    width: 85%;
    &:focus {
      border: 2px solid #00BFFF;
    }
  }
  .btn-search {
    border: 0;
    background-color: #FFEC8B;
    width: 15%;
    padding: 14px 0;
    outline: none;
    float: left;
    color: #fff;
    font-size: 18px;
  }
  .btn-category {
    background-color: #FFEC8B;
    border: 3px solid #FFEC8B;
    width: 8%;
    color: #D2B48C;
    padding: 10px;
    outline: none; 
    font-weight: bold;
    float: left;
    font-family: 'Lobster';
    font-style: normal;
    letter-spacing: 0.1em;
  }
}