@import 
  "compass/css3/box-sizing",
  "compass/css3/border-radius";

::-moz-selection { color: #fff;  background: #FF1493; }
::selection      { color: #fff;  background: #FF1493; }

body {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 300;
}

h1 {
  margin: 0;  
}

.topbar {
  width: 100%;
  min-width: 1200px;
  height: 48px;
  background: #383838 image-url('opacity.png');

  .logo {
    display: inline-block;
    float: left;
    height: 100%;
  }
  .logo-name {
    // #FFEC8B
    height: 100%;
    color: #BFEFFF;
    text-decoration: none;
    font-family: 'Lobster';
    font-style: normal;
    font-size: 36px;
    display: inline-block;
    padding: 0 0 0 10px;
    &:hover {
      color: #FFEC8B;
    }
  }
  .logo-slogan {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    display: inline-block;
  }
}
.navbar {
  float: right;
  margin: 0;
  height: 100%;
}
.main-menu {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  height: 100%;
  .item {
    float: left;
    height: 100%;
    &.ico-roupas-e-moda {
      .nav {
        background-position: 2px -321px;
        &:hover {
          background-position: 2px -288px;
        }
      }  
    }
    &.ico-calcados {
      .nav {
        background-position: -337px -321px;
        &:hover {
          background-position: -337px -288px;
        }
      }
    }
    &.ico-joias-e-relogios {
      .nav {
        background-position: -95px -321px;
        &:hover {
          background-position: -95px -288px;
        }
      }
    }
    &.ico-bolsas-e-viagem {
      .nav {
        background-position: -48px -321px;
        &:hover {
          background-position: -48px -288px;
        }
      }
    }
    &.ico-saude-e-beleza {
      .nav {
        background-position: -288px -321px;
        &:hover {
          background-position: -288px -288px;
        }
      }
    }
    &.ico-esportes {
      .nav {
        background-position: -198px -321px;
        &:hover {
          background-position: -198px -288px;
        }
      }
    }
    &.ico-eletro {
      .nav {
        background-position: -148px -321px;
        &:hover {
          background-position: -148px -288px;
        }
      }
    }
    &.ico-casa {
      .nav {
        background-position: -241px -321px;
        &:hover {
          background-position: -241px -288px;
        }
      }
    }
    &.ico-livros {
      .nav {
        background-position: -380px -321px;
        &:hover {
          background-position: -380px -288px;
        }
      }
    }
    &.ico-outros {
      .nav {
        background-position: -420px -321px;
        &:hover {
          background-position: -420px -288px;
        }
      }
    }
  }
  .nav {
    width: 50px;
    height: 30px;
    padding: 9px 0;
    display: inline-block;
    background: image-url('assets.png');
    b {
      display: none;
    }
  }
}

.daily-offer {
  float: right;
  background-color: #FF1493;
  color: #fff;
  font-family: 'Lobster';
  font-style: normal;
  margin: 0;

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 14px;
    letter-spacing: 0.02em;
    &:hover {
      background-color: #00BFFF;
    }
  }
}

.slider {
  width: 100%;
  height: 500px;
  background: image-url('cover.jpg') no-repeat;
  border-bottom: 2px solid #EDEDED;
}
.search {
  float: left;
  width: 40%;
  height: 90%;
  margin-top: 2px;

  .input-search {
    @include box-sizing(border-box);
    border: 2px solid #ECECEC;
    background-color: #ECECEC;
    padding: 10px 10px 11px;
    outline: none;
    float: left;
    width: 90%;
    &:focus {
      border: 2px solid #00BFFF;
    }
  }
  .btn-search {
    border: 0;
    background-color: #FFEC8B;
    width: 10%;
    padding: 11px 0 12px;
    outline: none;
    float: left;
    color: #fff;
    font-size: 18px;
  }
  .btn-category {
    background-color: #FFEC8B;
    border: 3px solid #FFEC8B;
    width: 8%;
    color: #D2B48C;
    padding: 10px;
    outline: none; 
    font-weight: bold;
    float: left;
    font-family: 'Lobster';
    font-style: normal;
    letter-spacing: 0.1em;
  }
}