@import 
  "compass/css3/box-sizing",
  "compass/css3/border-radius";

::-moz-selection { color: #fff;  background: #FF1493; }
::selection      { color: #fff;  background: #FF1493; }

body {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
}

h1 {
  margin: 0;
  font-weight: normal;  
}

.topbar {
  width: 100%;
  min-width: 1200px;
  height: 48px;
  background: rgba(25,25,112 ,0.8) image-url('opacity.png');
  position: fixed;
  z-index: 2;
  top: 0;

  .logo {
    display: inline-block;
    float: left;
    height: 100%;
  }
  .logo-name {
    // #FFEC8B
    height: 100%;
    color: #FFEC8B;
    text-decoration: none;
    font-family: 'Lobster';
    font-style: normal;
    font-size: 36px;
    display: inline-block;
    padding: 0 0 0 10px;
    text-shadow: 1px 1px 1px #FF1493;
    
    &:hover {
      color: #BFEFFF;
    }
  }
  .logo-slogan {
    color: #fff;
    font-size: 13px;
    display: inline-block;
  }
}
.navbar {
  float: right;
  margin: 0;
  height: 100%;
}
.main-menu {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  height: 100%;
  .item {
    float: left;
    height: 100%;
    &.ico-roupas-e-moda {
      .nav {
        background-position: 2px -288px;
        
      }  
    }
    &.ico-calcados {
      .nav {
        background-position: -337px -288px;
      }
    }
    &.ico-joias-e-relogios {
      .nav {
        background-position: -95px -288px;
      }
    }
    &.ico-bolsas-e-viagem {
      .nav {
        background-position: -48px -288px;
      }
    }
    &.ico-saude-e-beleza {
      .nav {
        background-position: -288px -288px;
      }
    }
    &.ico-esportes {
      .nav {
        background-position: -198px -288px;
      }
    }
    &.ico-eletro {
      .nav {
        background-position: -148px -288px;
      }
    }
    &.ico-casa {
      .nav {
        background-position: -241px -288px;
      }
    }
    &.ico-livros {
      .nav {
        background-position: -380px -288px;
      }
    }
    &.ico-outros {
      .nav {
        background-position: -420px -288px;
      }
    }
  }
  .nav {
    width: 50px;
    height: 30px;
    padding: 9px 0;
    display: inline-block;
    background: image-url('assets.png');
    b {
      display: none;
    }
  }
}

.daily-offer {
  float: right;
  background-color: #FF1493;
  color: #fff;
  font-family: 'Lobster';
  font-style: normal;
  margin: 0;

  a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 14px;
    letter-spacing: 0.02em;
    &:hover {
      background-color: #00BFFF;
    }
  }
}

.slider {
  width: 100%;
  height: 400px;
  border-bottom: 2px solid #EDEDED;
  top: 48px;
  position: fixed;
  z-index: 0;

  .cover {
    background-size: cover;
    width: 100%;
    height: 400px;
    background: image-url('cover-2.jpg') center repeat-x;
  }

  .arrow {
    position: absolute;
    width: 62px;
    height: 62px;
    display: inline-block;
    top: 50%;
    margin-top: -31px;
  }

  .arrow-l {
    @extend .arrow;
    left: 20px;
    background: image-url('sprite-left-arrow.png') 0 0 no-repeat;
  }
  .arrow-r {
    @extend .arrow;
    right: 20px;
    background: image-url('sprite-right-arrow.png') 0 0 no-repeat;
  }
}
.box-search {
  float: left;
  width: 100%;
  background: rgba(000,000,000,0.8);
  position: relative;

  .form-search {
    left: 50%;
    margin-left: -520px;
    position: relative;
  }

  .input-search {
    border: 2px solid #00BFFF;
    background: rgba(255, 255, 205, 0.5);
    padding: 10px 10px 11px;
    margin: 10px 0;
    outline: none;
    float: left;
    width: 600px;
    font-weight: 600;
    color: #fff;
    &:focus {
      border: 2px solid #FFD700;
    }
  }
  .btn-search {
    border: 0;
    width: 50px;
    outline: none;
    float: left;
    color: #D1D1D1;
    font-size: 30px;
    background: transparent;
    position: relative;
    left: -50px;
    top: 10px;
  }
  .ex {
    color: #a6a6a6;
    font-size: 12px;
    position: relative;
    top: 40px;
    left: -40px;
    a {
      color: #e4dee5;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.content {
  width: 100%;
  overflow: hidden;
  position: relative;
  top: 535px;
  z-index: 1;
  border-top: 2px solid #FFD700;
}

.carousel {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 450px;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 3000px;
  }
  
  .item {
    display: inline-block;
    margin: 20px 27px;
  }
}

.offers {
  width: 100%;
  background: #fff;
  overflow: hidden;
}